<?xml version="1.0" encoding="utf-8"?>
<!--10120201 - Ilham Ramdhan Putra Lesmana - IF5-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	>

	<application
		android:allowBackup="true"
		android:theme="@style/AppTheme"
		>
		<activity
			android:name="com.belajarkuy.tugasuas_10120201.view.activity.splashScreenActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="splashScreen"
			android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".penjelasan1_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="penjelasan1"
			android:exported="true"  >
		</activity>

		<activity
			android:name=".penjelasan2_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="penjelasan2"
			android:exported="true"  >
		</activity>

		<activity
			android:name=".profilmahasiswa_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="profilmahasiswa"
			android:exported="true"  >
		</activity>

		<activity
			android:name=".list_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="list"
			android:exported="true"  >
		</activity>

		<activity
			android:name=".keteranganaplikasi_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="keteranganaplikasi"
			android:exported="true"  >
		</activity>

		<activity
			android:name=".login_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="keteranganaplikasi"
			android:exported="true"  >
		</activity>

		<activity
			android:name=".logout_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="keteranganaplikasi"
			android:exported="true"  >
		</activity>

		<activity
			android:name=".signup_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="keteranganaplikasi"
			android:exported="true"  >
		</activity>

	</application>

</manifest>
	
	